/* resets */

html {
  font: 100%/1.15 sans-serif;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body,
figure {
  margin: 0;
}

body {
  max-width: 60em; /* 960px (16px= 1em) */
  padding: 0 1em 0 1em; /* (clockwise) padding-top, padding-right, padding-bottom, padding-left */
  margin-left: auto;
  margin-right: auto;
}

/* font */
body {
  font-family: "Times New Roman", serif;
  padding: 0 3.5%;
  padding: 1.2rem;
  margin: 0 auto;
  font-size: 1em;
}

header {
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  word-spacing: -.075em;
  margin-top: 0;
  margin-bottom: 0;
}

/* links */
a {
  color: #0000ff;
}
a:hover {
  color: #ff0000;
}
a:focus,
a:active {
  color: #00ff00;
  background-color: #f5f2ad;
}

/* navigation */
nav{
    font-family: "Times New Roman", serif;
  font: Times;
  font-size: 1.3em;
}
/* typographic details */
  p {
    font-size: 1.3em;
    line-height: 1.25; /*unitless, please */
  }
  p.byline {
    display: inline;
    font-weight: bold;
    margin-top: 1em;
  }

/* ---responsive images */
img {
  width: auto;
  max-width: 100%;
  height: auto;
}


/* hero figure image */
figure.hero {
  margin:0 -1em;
}

figure.hero figcaption {
  margin: 0 1em;
}

.headshot {
  width: 3em;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1em;
  margin-top: .5em;
}

main,
nav,
section {
  padding-top: 1rem;
}
